.SearchSection {
    margin: 0;
    width: 100%;
    height: 330px;
    text-align: center;
    background-color: #303030;

    .SearchSection_label {
        padding: 20px;
        font-size: 35px;
        color: #fff;
        font-weight: 200;
    }

    .SearchSection_container {
        width: 60%;
        margin-left: 20%;

        .container_button---submit {
            width: 10%;
            height: 55px;
            border-radius: 0 10px 10px 0;
            border: 0;
            padding: 0;
            background-color: #fff;
            cursor: pointer;

            @media screen and (max-width: 640px) {
                width: 20%;
            }

            &:hover {
                background-color: rgb(205, 205, 205);
            }
        }

        //bookname input
        .container_input---search {
            background-color: #fff;
            border-radius: 5px;
            width: 90%;
            height: 55px;
            box-sizing: border-box;
            border-radius: 10px 0 0 10px;
            border: 0;
            padding: 0;

            @media screen and (max-width: 640px) {
                width: 80%;
            }

        }

        .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
            color: rgb(0, 0, 0);
            background-color: #fff;
            padding: 0 10px;
            border-radius: 5px;
        }

        .container_select {
            margin-top: 30px;
            width: 100%;

            //autocomplite
            .css-gcwvw8-MuiAutocomplete-root {
                background-color: #fff;
                border-radius: 10px;
                width: 45%;
                float: left;

                @media screen and (max-width: 540px) {
                    width: 100%;
                }
            }

            //select
            .css-1wmrndo-MuiFormControl-root {
                background-color: #fff;
                width: 45%;
                border-radius: 10px;
                float: right;
                text-align: left;
                @media screen and (max-width: 540px) {
                    margin-top: 15px;
                    width: 100%;
                    float: left;
                }
            }
        }
    }
}
