.BookFullPreview {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    @media screen and (max-width: 650px) {
        flex-direction: column;
    }

    .BookFullPreview_container--image {
        flex-basis: 40%;
        text-align: center;

        @media screen and (max-width: 650px) {
            flex-basis: 100%;
        }

        .container_image {
            width: 50%;
            box-shadow: 5px 5px 5px 1px rgba(7, 7, 7, 0.2);

        }
    }

    .BookFullPreview_information {
        flex-basis: 60%;
        text-align: left;

        @media screen and (max-width: 650px) {
            flex-basis: 100%;
        }

        .information_container {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
                @media screen and (max-width: 650px) {
                    margin-top: 30px;
                }
            }

            .container_paragraph--label {
                display: inline;
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-weight: 500;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                }
            }

            .container_paragraph {
                display: inline;
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-weight: 300;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                }
            }

            .container_paragraph--description {
                display: inline;
                color: rgb(0, 0, 0);
                font-size: 18px;
                font-weight: 300;
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
            }
        }
    }
}